<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Signature_Generator</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<script> 
  
document.write('<img src=" http://imgfz.com/i/Ea3wKgi.jpeg"')
document.getElementById('pic')
  
</script>
<div id="pic">
</div>



<div id="app" class="container my-5">
		<div class="row">
			

      
      <h3 class="title">Download:</h3>
        <div class="controls">
          <button class="button is-info" data-select data-signature="signature">
            Verse & Outlook
          </button>
         
          <br>
          <br>
          <h3 class="title">Your information:</h3>
<!--           <p>Select all the code in the Preview Pane (using either the button above or your mouse) and then Copy (Ctrl + C) the code to your clipboard.</p> -->
          

   
 
           



				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<select id="address" class="form-control" v-model="address">
                
                
								<option disabled value="">Select a location</option>
                
       
								
             
  <option value="IBM Corporation. 1 North Castle Drive. Armonk, NY 10504-1784 ">CHQ</option> 

                
								<option value="IBM Argentina SRL. Pte. Hipolito Yrigoyen 2149.Buenos Aires, Martinez, B1640HFQ ">BA</option>
								<option value="IBM International Services Centre s.r.o.
Krasovského 14 • 851 01 Bratislava - mestská časť Petržalka • Slovakia 
IČO: 35 852 631 • ">BR</option>
								<option value="IBM Malaysia Sdn Bhd
8 First Avenue Persiaran Bandar Utama
Petaling Jaya , Selangor, Malasia, 10 47800
">KL</option>
                <option value="">No Location</option>
							</select>
						</div>
					</div>
					



          
          
          
						




<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        
                  
          
        <label class="label" >Choose the Color of the Banner:</label>
          <span class="control" id="company">
              <label class="radio">
                <input type="radio" name="company" value="transit" checked>
                Act.
              </label>
              <label class="radio">
                <input type="radio" name="company" value="swan">
                Count.
              </label>
              <label class="radio">
                <input type="radio" name="company" value="torrens">
                Think.
              </label>
              
 
            
            
          <section class="section">
        <form id="form">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="name">Name:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control is-expanded">
                  <input id="name" class="input" placeholder="First & Last Name">
                  
               
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="position">Position:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control is-expanded">
                  <input id="position" class="input" placeholder="This is what I do">
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="checkPhone">Phone:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <label class="button is-static" title="Check when need insert phone">
                    <input id="checkPhone" type="checkbox">
                  </label>
                </p>
                <p class="control is-expanded">
                  <input id="phone" class="input" placeholder="Add Phone Number" disabled>
                </p>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="checkFax">Tie-Line:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <label class="button is-static" title="Check when need insert fax">
                    <input id="checkFax" type="checkbox">
                  </label>
                </p>
                <p class="control is-expanded">
                  <input id="fax" class="input" placeholder="Add Tie Line Number" disabled>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="checkEmail">Email:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <label class="button is-static" title="Check if you want to add your physical address">
                    <input id="checkEmail" type="checkbox">
                  </label>
                </p>
                <p class="control is-expanded">
                  <input id="email" class="input" placeholder="name@ibm.com" disabled>
                
                
                    
                </p>
              </div>
            </div>
          </div>
          
          
<div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="checkMobile">Mobile:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <label class="button is-static" title="Check when need insert mobile">
                    <input id="checkMobile" type="checkbox">
                  </label>
                </p>
                <p class="control is-expanded">
                  <input id="mobile" class="input" placeholder="Add Mobile Number" disabled>
                  

                  </p>
              </div>
            </div>
          </div>
          
          
          
      <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="checkhome">Home Phone:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <label class="button is-static" title="Check if you want to add your physical address">
                    <input id="checkhome" type="checkbox">
                  </label>
                </p>
                <p class="control is-expanded">
                  <input id="home" class="input" placeholder="Add home phone" disabled>
                  
           
                    </p>
              </div>
            </div>
          </div>
          
          
          
      <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="checkoffice">Office:</label>
            </div>
            <div class="field-body">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <label class="button is-static" title="Check if you want to add your physical address">
                    <input id="checkoffice" type="checkbox">
                  </label>
                </p>
                <p class="control is-expanded">
                  <input id="office" class="input" placeholder="Add office" disabled>
                  
                   </span>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>

  
  
  
  
     <div class="column">
        <h3 class="title">Preview:
          <span class="control" id="company">
            
            
       
            <section class="section">
              
              
         </span>
        </h3>
        <article class="message is-primary">
          <div class="message-body" id="signature_container">
            
            
            <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          
          
          <td>
            <table cellpadding="0" cellspacing="0" border="0"id="signature">
              
              
              
              
                <tr>
               
                <td style="padding-left:0px; color:rgb(85, 85, 85); font-family:IBM Plex Sans;font-size:12px;line-height:18px;" >

                    <span style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans,">
                      
                      Best Regards,
                   </span>
           
                  <br>
                  <br>
                  
    
  
                  
              
                  
                 

                  

                    <span class="name" id="preparedName" style="color:rgb(5, 74, 218); font-weight:bold; font-family:IBM Plex Sans,; font-size: 12pt;line-height:25px;"> Name
                     
    
                   </span>
                    
                    
                    <img align="right"src="tiraaaa-02.png" style="width:130px; height:auto;" />
             
               
                <br>
                  
                    
                    
                    <span class="position"style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans;line-height:20px">
                     
                        Specialist in...
                     
                      
                      </span>
                    
              
                    
                    
<br>
		<hr>
                    
                    
		</form>
		</div>
		
		<div class="row">
			<div class="col">
				<table id="source" cellpadding="0" cellspacing="0">
					<tr v-if="name || title">
						<td style="color:#000000; font-family:'ibm plex sans',Calibri,ibm plex sans,sans-serif; font-size:10pt; line-height:normal;"><span style="font-weight:regular;">{{name}}</span> <span v-if="title"><span style="color:#EB3300;">•</span> {{title}}</span></td>
					</tr>
					<tr>
						
					</tr>
					<tr v-if="mobile || office || address">
						<td style="color:#000000; font-family:'ibm plex sans',Calibri,Arial,sans-serif; font-size:8pt; line-height:normal;"><span v-if="mobile"><span style="color:#EB3300; font-weight:bold;">c •</span> {{mobile | phone}}&nbsp; </span><span v-if="office"><span style="color:#EB3300; font-weight:bold;">o •</span> {{office | phone}}&nbsp; </span><span v-if="address"><span style="color:#054ada; font-weight:regular;"></span> {{address}}</span></td>
					</tr>
               
                    
                     
                          <tbody>

          
          <span class="phone"style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans; font-size: 8pt">
                     
                       P:  +xx-xx-xxxx-xxxx 
                      
                      </span>
  
                            <span class="fax"style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans; font-size: 8pt">
                     
                    &ensp;&ensp;&ensp;    T: xxx-xxxx 
                      
                      </span>
                    
                           
 <span class="email"style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans; font-size: 8pt">
                     
                &ensp;&ensp;&ensp;       E: name@ibm.com
                      
                      </span>
                             <br> 

<span class="mobile" style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans; font-size: 8pt">
                           
  
                            </span>
 

                             <span class="home"style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans; font-size: 8pt">
                     
                        
                      
                      </span>
<br>
                    
      
 <span class="office"style="color:rgb(0, 0, 0); font-weight:regular; font-family:IBM Plex Sans; font-size: 8pt">
                     
                        
                      
                      </span></div>
                    
  

<br>


         
        
        
              <img src="" class="logo" width="800px" position="absolute">
                     

 
          
        </td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js'></script><script  src="./script.js"></script>

</body>
</html>
